body {
    background-color : #636e72;
    color: #f5f6fa;
}


h1 {
    color: #f5f6fa;
    text-align: left;
}

h2 {
    color: #f5f6fa;
    text-align: left;
}

h3 {
    color: #f5f6fa;
    text-align: left;
}

p {
    font-family: "ubuntu", Times, bold;
}

button
 {
    color: purple;
}

